*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
}
#wrapper{
    width: 95%;
    margin: 20px auto;
    
}
footer{
    margin-top:  25px;
	padding: 55px;
    color: #fff;
    font-weight: 600;
	text-align: center;
    background-color: #000000;
}
h1{
    text-align: center;
}
h2{
    font-size: 1.25em;
    padding-top: 5px;
    padding-bottom: 10px;
}
button{
	background: #000000;   
	border: 1px solid #000000;
	border-radius: 5px;
	color: #FFF;
	font-size: 0.8em;
	margin-top: 10px;
	padding: 10px 5px;
}
button:hover{
	background: #373738;

}
::placeholder{
	color: #bbb;
	padding-left: 5px;
    font-size: 0.9em;
}
form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px ;
	margin-bottom: 15px;
	margin-top: 15px;
    
}
form div{
    padding-top: 10px;
}
form h2{
    font-size: 1.2em;
}
header{
    background-image: linear-gradient(rgba(255, 255, 255, 0.705),rgba(41, 41, 41, 0.2)),
    url(header.jpg);
    padding-top: 35px;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
}
input[type="text"], input[type="email"], select{
    display: block;
    border: 2px solid #000000;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    }
    fieldset{
        border-color: #000000;
        border-style: solid;
        border: 3px solid ;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-radius: 10px;
    }
    input:focus{
        background-color: #8c9094;
    }
    @media screen and (min-width: 768px){
        #wrapper {
            width: 75%;
            margin: auto;
        }
    }